In [51]:
import numpy as np
import pandas as pd

In [52]:
df = pd.read_csv("Cleaning.csv")

In [53]:
df

,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation,Unnamed: 6,Unnamed: 7
0,19.900002,75.3,587,0,GMT,GMT,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,time,pm2_5 (μg/m³),pm10 (μg/m³),carbon_monoxide (μg/m³),carbon_dioxide (ppm),nitrogen_dioxide (μg/m³),ozone (μg/m³),sulphur_dioxide (μg/m³)
3,2022-07-19T00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-07-19T01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
28702,2025-10-26T19:00,8.1,8.1,181,441,2.8,79,4
28703,2025-10-26T20:00,7.6,7.6,171,441,3,74,4.4
28704,2025-10-26T21:00,6.9,6.9,167,442,3.1,69,4.7
28705,2025-10-26T22:00,6.1,6.1,172,443,3,67,4.6
28706,2025-10-26T23:00,4.9,5,183,445,2.8,65,4.2

In [54]:
df = pd.read_csv("Cleaning.csv",header=3)

In [55]:
df

,time,pm2_5 (μg/m³),pm10 (μg/m³),carbon_monoxide (μg/m³),carbon_dioxide (ppm),nitrogen_dioxide (μg/m³),ozone (μg/m³),sulphur_dioxide (μg/m³)
0,2022-07-19T00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-07-19T01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-07-19T02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-07-19T03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-07-19T04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
28699,2025-10-26T19:00,8.1,8.1,181.0,441.0,2.8,79.0,4.0
28700,2025-10-26T20:00,7.6,7.6,171.0,441.0,3.0,74.0,4.4
28701,2025-10-26T21:00,6.9,6.9,167.0,442.0,3.1,69.0,4.7
28702,2025-10-26T22:00,6.1,6.1,172.0,443.0,3.0,67.0,4.6
28703,2025-10-26T23:00,4.9,5.0,183.0,445.0,2.8,65.0,4.2

In [56]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28704 entries, 0 to 28703
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   time                      28704 non-null  object
 1   pm2_5 (μg/m³)             28320 non-null  float64
 2   pm10 (μg/m³)              28320 non-null  float64
 3   carbon_monoxide (μg/m³)   28320 non-null  float64
 4   carbon_dioxide (ppm)      8784 non-null   float64
 5   nitrogen_dioxide (μg/m³)  28320 non-null  float64
 6   ozone (μg/m³)             28320 non-null  float64
 7   sulphur_dioxide (μg/m³)   28320 non-null  float64
dtypes: float64(7), object(1)
memory usage: 1.8+ MB

,pm2_5 (μg/m³),pm10 (μg/m³),carbon_monoxide (μg/m³),carbon_dioxide (ppm),nitrogen_dioxide (μg/m³),ozone (μg/m³),sulphur_dioxide (μg/m³)
count,28320.000000,28320.000000,28320.000000,8784.000000,28320.000000,28320.000000,28320.000000
mean,25.367433,38.820530,265.357662,450.586293,5.797281,83.427578,7.597737
std,17.627354,24.624587,127.414595,10.576767,4.831242,34.137981,5.075066
min,0.600000,0.800000,59.000000,427.000000,-0.200000,9.000000,0.200000
25%,11.700000,19.900000,165.000000,443.000000,2.300000,57.000000,3.900000
50%,21.400000,34.800000,237.000000,450.000000,4.800000,79.000000,6.400000
75%,35.500000,53.100000,333.000000,457.000000,7.600000,106.000000,10.000000
max,122.000000,170.400000,1028.000000,508.000000,40.800000,197.000000,49.800000

In [57]:
df = pd.read_csv("Cleaning.csv",header=3)
df = df.drop(columns=['carbon_dioxide (ppm)']) #droping this cause co2 is not a pollutant
df.dropna(inplace=True)
df.reset_index(drop=True,inplace = True)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28320 entries, 0 to 28319
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   time                      28320 non-null  object
 1   pm2_5 (μg/m³)             28320 non-null  float64
 2   pm10 (μg/m³)              28320 non-null  float64
 3   carbon_monoxide (μg/m³)   28320 non-null  float64
 4   nitrogen_dioxide (μg/m³)  28320 non-null  float64
 5   ozone (μg/m³)             28320 non-null  float64
 6   sulphur_dioxide (μg/m³)   28320 non-null  float64
dtypes: float64(6), object(1)
memory usage: 1.5+ MB

In [59]:
df

,time,pm2_5 (μg/m³),pm10 (μg/m³),carbon_monoxide (μg/m³),nitrogen_dioxide (μg/m³),ozone (μg/m³),sulphur_dioxide (μg/m³)
0,2022-08-04T00:00,10.1,14.9,172.0,7.3,32.0,2.8
1,2022-08-04T01:00,9.4,14.8,175.0,6.9,33.0,2.7
2,2022-08-04T02:00,8.6,13.9,180.0,6.3,33.0,2.4
3,2022-08-04T03:00,9.0,14.5,181.0,5.2,38.0,2.2
4,2022-08-04T04:00,8.9,15.7,172.0,4.1,47.0,2.2
...,...,...,...,...,...,...,...
28315,2025-10-26T19:00,8.1,8.1,181.0,2.8,79.0,4.0
28316,2025-10-26T20:00,7.6,7.6,171.0,3.0,74.0,4.4
28317,2025-10-26T21:00,6.9,6.9,167.0,3.1,69.0,4.7
28318,2025-10-26T22:00,6.1,6.1,172.0,3.0,67.0,4.6
28319,2025-10-26T23:00,4.9,5.0,183.0,2.8,65.0,4.2

In [60]:
df['time'] = pd.to_datetime(df['time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28320 entries, 0 to 28319
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   time                      28320 non-null  datetime64[ns]
 1   pm2_5 (μg/m³)             28320 non-null  float64
 2   pm10 (μg/m³)              28320 non-null  float64
 3   carbon_monoxide (μg/m³)   28320 non-null  float64
 4   nitrogen_dioxide (μg/m³)  28320 non-null  float64
 5   ozone (μg/m³)             28320 non-null  float64
 6   sulphur_dioxide (μg/m³)   28320 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 1.5 MB

In [61]:
df

,time,pm2_5 (μg/m³),pm10 (μg/m³),carbon_monoxide (μg/m³),nitrogen_dioxide (μg/m³),ozone (μg/m³),sulphur_dioxide (μg/m³)
0,2022-08-04 00:00:00,10.1,14.9,172.0,7.3,32.0,2.8
1,2022-08-04 01:00:00,9.4,14.8,175.0,6.9,33.0,2.7
2,2022-08-04 02:00:00,8.6,13.9,180.0,6.3,33.0,2.4
3,2022-08-04 03:00:00,9.0,14.5,181.0,5.2,38.0,2.2
4,2022-08-04 04:00:00,8.9,15.7,172.0,4.1,47.0,2.2
...,...,...,...,...,...,...,...
28315,2025-10-26 19:00:00,8.1,8.1,181.0,2.8,79.0,4.0
28316,2025-10-26 20:00:00,7.6,7.6,171.0,3.0,74.0,4.4
28317,2025-10-26 21:00:00,6.9,6.9,167.0,3.1,69.0,4.7
28318,2025-10-26 22:00:00,6.1,6.1,172.0,3.0,67.0,4.6
28319,2025-10-26 23:00:00,4.9,5.0,183.0,2.8,65.0,4.2

In [62]:
df['date'] = df['time'].dt.date

In [63]:
df['hour'] = df['time'].dt.hour

In [64]:
df['year'] = df['time'].dt.year

In [65]:
df

,time,pm2_5 (μg/m³),pm10 (μg/m³),carbon_monoxide (μg/m³),nitrogen_dioxide (μg/m³),ozone (μg/m³),sulphur_dioxide (μg/m³),date,hour,year
0,2022-08-04 00:00:00,10.1,14.9,172.0,7.3,32.0,2.8,2022-08-04,0,2022
1,2022-08-04 01:00:00,9.4,14.8,175.0,6.9,33.0,2.7,2022-08-04,1,2022
2,2022-08-04 02:00:00,8.6,13.9,180.0,6.3,33.0,2.4,2022-08-04,2,2022
3,2022-08-04 03:00:00,9.0,14.5,181.0,5.2,38.0,2.2,2022-08-04,3,2022
4,2022-08-04 04:00:00,8.9,15.7,172.0,4.1,47.0,2.2,2022-08-04,4,2022
...,...,...,...,...,...,...,...,...,...,...
28315,2025-10-26 19:00:00,8.1,8.1,181.0,2.8,79.0,4.0,2025-10-26,19,2025
28316,2025-10-26 20:00:00,7.6,7.6,171.0,3.0,74.0,4.4,2025-10-26,20,2025
28317,2025-10-26 21:00:00,6.9,6.9,167.0,3.1,69.0,4.7,2025-10-26,21,2025
28318,2025-10-26 22:00:00,6.1,6.1,172.0,3.0,67.0,4.6,2025-10-26,22,2025
28319,2025-10-26 23:00:00,4.9,5.0,183.0,2.8,65.0,4.2,2025-10-26,23,2025

In [66]:
def time_of_the_day(hour):
    if 5<= hour <12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17<= hour < 19:
        return 'Evening'
    else: 
        return 'Night'
df['time_of_the_day'] = df['hour'].apply(time_of_the_day)

In [67]:
df.reset_index(drop=True, inplace=True)

In [68]:
df

,time,pm2_5 (μg/m³),pm10 (μg/m³),carbon_monoxide (μg/m³),nitrogen_dioxide (μg/m³),ozone (μg/m³),sulphur_dioxide (μg/m³),date,hour,year,time_of_the_day
0,2022-08-04 00:00:00,10.1,14.9,172.0,7.3,32.0,2.8,2022-08-04,0,2022,Night
1,2022-08-04 01:00:00,9.4,14.8,175.0,6.9,33.0,2.7,2022-08-04,1,2022,Night
2,2022-08-04 02:00:00,8.6,13.9,180.0,6.3,33.0,2.4,2022-08-04,2,2022,Night
3,2022-08-04 03:00:00,9.0,14.5,181.0,5.2,38.0,2.2,2022-08-04,3,2022,Night
4,2022-08-04 04:00:00,8.9,15.7,172.0,4.1,47.0,2.2,2022-08-04,4,2022,Night
...,...,...,...,...,...,...,...,...,...,...,...
28315,2025-10-26 19:00:00,8.1,8.1,181.0,2.8,79.0,4.0,2025-10-26,19,2025,Night
28316,2025-10-26 20:00:00,7.6,7.6,171.0,3.0,74.0,4.4,2025-10-26,20,2025,Night
28317,2025-10-26 21:00:00,6.9,6.9,167.0,3.1,69.0,4.7,2025-10-26,21,2025,Night
28318,2025-10-26 22:00:00,6.1,6.1,172.0,3.0,67.0,4.6,2025-10-26,22,2025,Night
28319,2025-10-26 23:00:00,4.9,5.0,183.0,2.8,65.0,4.2,2025-10-26,23,2025,Night

In [69]:
df['carbon_monoxide (μg/m³)'] = df['carbon_monoxide (μg/m³)'] / 1000


def aqi_pm25(c):
    if c <= 30: 
        return c * (50/30)
    elif c <= 60: 
        return 50 + (c - 30) * (50/30)
    elif c <= 90: 
        return 100 + (c - 60) * (100/30)
    elif c <= 120: 
        return 200 + (c - 90) * (100/30)
    elif c <= 250: 
        return 300 + (c - 120) * (100/130)
    else: 
        return 400 + (c - 250) * (100/250)

def aqi_pm10(c):
    if c <= 50: 
        return c
    elif c <= 100: 
        return 50 + (c - 50)
    elif c <= 250: 
        return 100 + (c - 100) * (100/150)
    elif c <= 350: 
        return 200 + (c - 250)
    elif c <= 430: 
        return 300 + (c - 350) * (100/80)
    else: 
        return 400 + (c - 430) * (100/70)

def aqi_no2(c):
    if c <= 40: 
        return c * (50/40)
    elif c <= 80: 
        return 50 + (c - 40) * (50/40)
    elif c <= 180: 
        return 100 + (c - 80) * (100/100)
    elif c <= 280: 
        return 200 + (c - 180)
    elif c <= 400: 
        return 300 + (c - 280) * (100/120)
    else: 
        return 400 + (c - 400) * (100/100)

def aqi_so2(c):
    if c <= 40: 
        return c * (50/40)
    elif c <= 80: 
        return 50 + (c - 40) * (50/40)
    elif c <= 380: 
        return 100 + (c - 80) * (100/300)
    elif c <= 800: 
        return 200 + (c - 380) * (100/420)
    elif c <= 1600:
        return 300 + (c - 800) * (100/800)
    else: 
        return 400 + (c - 1600) * (100/400)

def aqi_co(c):
    if c <= 1:
         return c * (50 / 1)
    elif c <= 2:
        return 50 + (c - 1) * (50 / 1)
    elif c <= 10:
        return 100 + (c - 2) * (100 / 8)
    elif c <= 17:
        return 200 + (c - 10) * (100 / 7)
    elif c <= 34:
        return 300 + (c - 17) * (100 / 17)
    else:
        return 400 + (c - 34) * (100 / 17)


def aqi_o3(c):
    if c <= 50: 
        return c
    elif c <= 100: 
        return 50 + (c - 50)
    elif c <= 168: 
        return 100 + (c - 100) * (100/68)
    elif c <= 208: 
        return 200 + (c - 168) * (100/40)
    elif c <= 748: 
        return 300 + (c - 208) * (100/540)
    else: 
        return 400 + (c - 748) * (100/252)

In [70]:
df['AQI_PM2_5'] = df['pm2_5 (μg/m³)'].apply(aqi_pm25)
df['AQI_PM10'] = df['pm10 (μg/m³)'].apply(aqi_pm10)
df['AQI_NO2'] = df['nitrogen_dioxide (μg/m³)'].apply(aqi_no2)
df['AQI_SO2'] = df['sulphur_dioxide (μg/m³)'].apply(aqi_so2)
df['AQI_CO'] = df['carbon_monoxide (μg/m³)'].apply(aqi_co)
df['AQI_O3'] = df['ozone (μg/m³)'].apply(aqi_o3)

In [71]:
df['AQI'] = df[['AQI_PM2_5', 'AQI_PM10', 'AQI_NO2', 'AQI_SO2', 'AQI_CO', 'AQI_O3']].max(axis=1)

In [72]:
df.to_csv("Air Quality Cleaned.csv",index=False)

In [73]:
df['carbon_monoxide (μg/m³)'].head()

0    0.172
1    0.175
2    0.180
3    0.181
4    0.172
Name: carbon_monoxide (μg/m³), dtype: float64

In [74]:
df.head(5)

,time,pm2_5 (μg/m³),pm10 (μg/m³),carbon_monoxide (μg/m³),nitrogen_dioxide (μg/m³),ozone (μg/m³),sulphur_dioxide (μg/m³),date,hour,year,time_of_the_day,AQI_PM2_5,AQI_PM10,AQI_NO2,AQI_SO2,AQI_CO,AQI_O3,AQI
0,2022-08-04 00:00:00,10.1,14.9,0.172,7.3,32.0,2.8,2022-08-04,0,2022,Night,16.833333,14.9,9.125,3.500,8.60,32.0,32.0
1,2022-08-04 01:00:00,9.4,14.8,0.175,6.9,33.0,2.7,2022-08-04,1,2022,Night,15.666667,14.8,8.625,3.375,8.75,33.0,33.0
2,2022-08-04 02:00:00,8.6,13.9,0.180,6.3,33.0,2.4,2022-08-04,2,2022,Night,14.333333,13.9,7.875,3.000,9.00,33.0,33.0
3,2022-08-04 03:00:00,9.0,14.5,0.181,5.2,38.0,2.2,2022-08-04,3,2022,Night,15.000000,14.5,6.500,2.750,9.05,38.0,38.0
4,2022-08-04 04:00:00,8.9,15.7,0.172,4.1,47.0,2.2,2022-08-04,4,2022,Night,14.833333,15.7,5.125,2.750,8.60,47.0,47.0